@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Sometype+Mono&display=swap');  
/* this is we are importing hte google font */
/* font-family: 'Sometype Mono', monospace; */
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(90, 8, 90);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    /* font-family: 'Roboto Mono', monospace;  this we are adding in the css */
    font-family: 'Sometype Mono', monospace;
}
nav ul{
    list-style-type: none;
}

.gamecontainer{
    /* background-color: rgb(47, 163, 171);  */
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'Sometype Mono', monospace;
}

.box{
    border: 2px solid black;
    font-size: 7vw;   /*we give size in vw unit bz it is easy to make responsive websitesss*/
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:hover{
    background-color: rgb(214, 207, 220);
}

.info{
    font-size: 25px;
}

.gameinfo{
    padding: 0 70px;
    
    font-family: 'Sometype Mono', monospace;
}

.imgbox img{
    width: 0;   /*now we are hiding it bz when we want we will get it using js*/
    transition: width 1s ease-in-out;
}


/* here we are making some utility class for removing some border like we want to remove form the bottom or left or right or top */
/* here we are creating then we will add these particular class in that boxxxx in html */
.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 23px;
    padding: 1px 18px;
    background: rgb(227, 222, 231);
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Sometype Mono', monospace;
}


/* //from here we are making it responzivee */
@media screen and (max-width: 700px) {
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 34px;
    }
    .gameinfo h1{
        font-size: 1.5rem;
    }
    .comatiner{
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);
    }
}
